h1 {
    text-align: center;
    margin: 5% 0 5% 0;
}

#choix_initial {
    margin: 2% 39% 2% 39%;
    font-size: 1.4em;
}

.disable {
    display: none !important;
}

.enable {
    display: flex;
    text-align: center;
    font-size: 1.3em;
}

.indication {
    text-align: center;
    font-size: 1.2em;
}

.choix_departement {
    text-align: center;
    margin-top: 20%;
    font-size: 1.3em;
}

#onglet_nav_dep {
    font-size: 1.5em;
    margin-left: 45%;
}

#valider {
    margin-top: 1%;
    margin-left: 49%;
}

.nombreDeQuestions {
    text-align: center;
    margin-top: 20%;
}

#range_dep {
    width: 30%;
    text-align: center;
    margin: 0 1% 0 35%;
}

#resultat {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 20% 40% 0 40%;
}

.container_questions {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 20% 40% 0 40%;
}

#container_carte {
    width: 70%;
    margin-left: 5%;
}

.container_questions_loc {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    margin: 0 5% 10% 5%;
}

.big_container_loc {
    display: flex;
}

path {
    fill: darkcyan;
    stroke: white;
    stroke-width: 1px;
    transition: fill 0.3s;
}

path:hover {
    fill:springgreen;
}

.grossir {
    font-size: 3em;
}