h1 {
    text-align: center;
    margin: 5% 0 5% 0;
}

#choix_initial {
    margin: 2% 39% 2% 39%;
    font-size: 1.4em;
}

.disable {
    display: none;
}

.enable {
    display: flex;
    text-align: center;
    font-size: 1.3em;
}

.indication {
    text-align: center;
    font-size: 1.2em;
}

.choix_departement {
    text-align: center;
    margin-top: 20%;
    font-size: 1.3em;
}

#onglet_nav_dep {
    font-size: 1.5em;
    margin-left: 45%;
}

#valider {
    margin-top: 1%;
    margin-left: 49%;
}

.nombreDeQuestions {
    text-align: center;
    margin-top: 20%;
}

#range_dep {
    width: 30%;
    text-align: center;
    margin: 0 1% 0 35%;
}