h1 {
    text-align: center;
    margin: 5% 0 5% 0;
}

#choix_initial {
    margin: 2% 39% 2% 39%;
    font-size: 1.4em;
}

.disable {
    display: none !important;
}

.enable {
    display: flex;
    text-align: center;
    font-size: 1.3em;
}

.indication {
    text-align: center;
    font-size: 1.2em;
}

.choix_departement {
    text-align: center;
    margin-top: 20%;
    font-size: 1.3em;
}

#onglet_nav_dep {
    font-size: 1.5em;
    margin-left: 45%;
}

#valider {
    margin-top: 1%;
    margin-left: 49%;
}

.nombreDeQuestions {
    text-align: center;
    margin-top: 20%;
}

#range_dep {
    width: 30%;
    text-align: center;
    margin: 0 1% 0 35%;
}

#resultat {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 20% 40% 0 40%;
}

.container_questions {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 20% 40% 0 40%;
}

#big_container_loc {
    display: flex;
}

path {
    fill: darkcyan;
    stroke: white;
    stroke-width: 1px;
    transition: fill 0.3s;
}

path:hover {
    fill:springgreen;
}

.grossir {
    font-size: 3em;
}

.style_choix {
    color: #0d6efd;
}

.departement_surbrillance {
    fill: rgb(255, 0, 230);
    stroke: black;
    stroke-width: 1;
  }

#container_carte {
    width: 80%;
    margin: 5% auto; /* Utilisez "auto" pour centrer horizontalement */
  }
  
#resultat, .container_questions, .container_questions_loc {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 10% auto; /* Utilisez "auto" pour centrer horizontalement */
    width: 60%; /* Ajustez la largeur en fonction de vos besoins */
  }

  .disable_hover path:hover {
    fill: darkcyan; /* Remettre la couleur normale pour éviter le changement de couleur au hover */
    cursor: default; /* Désactiver le curseur pointer */
  }